
/*this pulls the 'section links' down so they are visible beneath the fixed header bar
when an item in the right hand nav menu is clicked*/
section:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}	

/* section for the right hand navigation menu function */

.btn-primary:hover,
.btn-primary:hover,
.btn-primary:active {	
	background-color: #FF8080;
	box-shadow: 0px 1px 4px rgba(11, 5, 5, 0.63); /*match the dynamic menu*/
	border: 1px solid #DDD;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #FF8080;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #FF8080;
}

.open > .dropdown-menu {
	border-radius: 6px 6px 6px 6px;
}


.jumbotron {
	margin-top: 70px;
	border-radius: 6px;
	margin-bottom:10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

ul.nav-tabs {
	border-radius: 4px;
	border: 1px solid #ddd;
	box-shadow: 0px 1px 4px rgba(11, 5, 5, 0.63);
	background-color: white;
}
ul.nav-tabs li {
	margin: 0;
	border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child {
	border-top: none;
}
ul.nav-tabs li a {
	margin: 0;
	padding: 8px 16px 8px 4px;
	border-radius: 0;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background-color: #008080;
	border: 1px solid #0088cc;
}
.nav-tabs > li > a:hover {
	color: white;
	background-color: #FF8080;
}

ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}
ul.nav-tabs li:last-child a {
	border-radius: 0 0 4px 4px;
}
ul.nav-tabs.affix {
	top: 100px; /* Set the top position of pinned element */
	width: 100px; /*may have to set commensurate with content size */
}	
   
